* {
  font-family: "Poppins", sans-serif;
  image-rendering: optimizeSpeed;
}

body {
  background-color: #a9d7df;
  color: black;
  list-style: none;
}
#generic_h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  text-align: center;
  border: #000d13 solid 2px;
  width: 400px;
  margin-top: 70px;
}
#generic_h {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  text-align: center;
  border: #000d13 solid 2px;
  width: 400px;
}

.topnav {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: linear-gradient(90deg, #2cdcfb 0%, #083f55 42%, #000d13 70%);
}

.topnav h1 {
  display: flex;
  margin: 12px 12px;
  flex-grow: 2;
  order: 1;
  font-size: 25px;
  align-self: center;
}
#menu12 {
  order: 2;
  display: none;
  width: max-content;
  color: white;
  text-decoration: none;
  list-style: none;
}
#menu12 ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
}
#menu1 {
  order: 3;
  display: flex;
}
#menu1 ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
}
.topnav li {
  display: flex;
  color: white;
  font-size: 17px;
  order: 3;
}
.topnav a {
  display: flex;
  order: 5;
  align-self: center;
  display: none;
}
.topnav li ul li a {
  display: flex;
  color: #f2f2f2;
  padding: 12px 12px;
  flex-direction: row;
  text-decoration: none;
  font-size: 2.5vh;
  align-self: center;
  order: 4;
}

.topnav a:hover {
  background-color: #82b4ff;
  color: black;
}

.topnav a.active {
  background-color: #82b4ff;
  columns: white;
}

form.search input[type="text"] {
  box-sizing: border-box;
  padding: 12px 12px;
  padding-left: 2px;
  font-size: 2vh;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search button {
  box-sizing: border-box;
  float: left;
  width: 20%;
  padding-left: 10px;
  padding-bottom: 14px;
  padding-right: 10px;
  padding-top: 10px;
  margin-right: 0;
  background: #2196f3;
  color: white;
  font-size: 1vw;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}
/* I tried for many days to get this manu to work as intended, but to no avail. There is a configuration I just don't get it seems. Something to work with in my future projects*/
@media screen and (orientation: portrait) {
  .topnav a {
    display: flex;
    order: 2;
  }
  .topnav li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    display: none;
  }
  .topnav li:hover > li,
  li ul {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  .topnav li ul li {
    clear: both;
    width: 100%;
  }
  #menu1 {
    display: none;
  }
}
.banner {
  display: flex;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  justify-content: center;
  background-image: url("../images/index/banner2.jpg");
}

.banner img {
  display: flex;
  align-self: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 3vh;
}

.flexbox-container {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: auto;
}

.flexbox-container > * {
  display: flex;
  margin: 10px;
  padding: 5px;
  border: none;
  background-color: #a9d7df;
}

.flexbox-container div {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.flexbox-container h2 {
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 1.5vw;
}

.flexbox-container p {
  display: flex;
  padding: 3px;
  justify-content: center;
  font-size: 17px;
  width: 60vh;
  align-self: center;
}

.bobble-kort {
  display: flex;
  height: 57vh;
  object-fit: contain;
  margin: 0px;
  padding: 0px;
  border: none;
}
.bobble-lang {
  display: flex;
  height: 57vh;
  object-fit: contain;
  margin: 0px;
  padding: 0px;
  border: none;
}

.block {
  height: 31vh;
  width: 55vh;
  align-self: center;
  object-fit: cover;
}

.flexbox-sm {
  display: flex;
  flex-direction: row;
  border: none;
  overflow: hidden;
  background-color: #799ea5;
}

.socialmedia {
  display: flex;
  list-style: none;
  width: 100%;
}
.socialmedia h3 {
  display: inherit;
  order: 1;
  text-decoration: solid;
  font-size: 3vh;
  width: 90vh;
  height: auto;
  align-self: center;
  padding-left: 5vh;
}

.socialmedia ul {
  display: inherit;
  order: 2;
  justify-content: space-evenly;
  width: inherit;
}
.socialmedia img {
  display: inherit;
  height: 6vh;
  width: auto;
  justify-content: space-between;
}
.contact {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  color: black;
}

.contact div {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.contact ul {
  display: flex;
  width: 100%;
  font-size: 1.6vh;
}

.contact li {
  display: flex;
  list-style: none;
  padding-top: 2vh;
}

.contact p {
  display: flex;
  width: 30%;
}

.location {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  margin-top: 2vh;
}
.location div {
  display: flex;
  font-size: 15px;
  align-self: center;
}
.location h2 {
  display: flex;
  flex-direction: row;
  width: auto;
}

.location ul {
  display: flex;
  flex-direction: column;
  border: black solid 2px;
  padding: 20px;
  order: 1;
  margin: 20px;
  margin-top: 40px;
  width: 420px;
  height: 480px;
}
.location li {
  display: flex;
}
.location img {
  display: inherit;
  image-rendering: auto;
  margin-top: 10px;
  width: 400px;
  height: auto;
}

#googlelink {
  display: flex;
  padding-top: 2vh;
  overflow: hidden;
  width: 600px;
  height: 450px;
  align-self: center;
  flex-direction: column;
  font-size: 1.2vh;
}
/*
I can't get this to work, @media. I want to resize the map-link window so that it's responsive.
I've created a box, width and height, so that the window does resize, but it's not the solution I wanted.

@media screen and (max-width: 400px) {
  #googlelink {
    display: inline;
  }
}*/

#boble-location {
  display: flex;
  object-fit: cover;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  height: auto;
  width: 120px;
}

.explore {
  display: flex;
  image-rendering: auto;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  margin-top: 1vh;
  flex-direction: row;
}
.explore div {
  display: inherit;
  text-align: center;
  height: auto;
  justify-content: center;
  flex-direction: column;
}

.explore p {
  display: flex;
  margin: 0px;
  margin-top: 2vh;
  width: 60vh;
  align-self: center;
}

.midrolladd {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
  background-color: #799ea5;
}
.midrolladd div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.midrolladd p {
  display: flex;
  text-align: center;
  width: 90vh;
  font-size: 17px;
}

#midaddpic {
  display: flex;
  width: 100%;
  height: 40vh;
  object-fit: contain;
  margin: 10px;
  margin-top: 70px;
}
.school {
  display: flex;
  flex-direction: row;
  font-size: 17px;
}
.school img {
  display: flex;
  flex-direction: column;
  object-fit: cover;
}

.contactForm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px;
  margin: 2px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 2px;
}

.gender {
  display: flex;
  flex-direction: row;
}
#newsletter {
  display: flex;
  flex-direction: row;
}

/*
@media tag should go at the end of the .css. This is 'cause otherwise the @media tag rules will be overwritten by the "default" code.
*/

@media screen and (orientation: portrait) {
  .body {
    display: flex;
    flex-direction: column;
    font-size: 200px;
  }
  .flexbox-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
  }
  .explore {
    flex-direction: column;
    margin-top: 50px;
  }
  .explore p {
  }
  .bobble-kort {
    display: none;
    visibility: hidden;
  }
  .bobble-lang {
    display: none;
    visibility: hidden;
  }
  .location {
    flex-direction: column-reverse;
  }
  #boble-location {
    display: none;
    visibility: none;
  }
  #googlelink {
    width: 300px;
    height: 225px;
    align-self: start;
    margin-left: 26vw;
  }
  .location-img {
    height: auto;
    width: 225px;
  }
}

.container {
  display: flex;
}
